.row:after {
    clear: both;
    content: "";
    display: table;
}

.cell {
    background: #fff;
    border: 1px solid #999;
    float: left;
    height: 100px;
    margin: -1px;
    padding: 0;
    width: 100px;
}

.app {
    display: flex;
    flex-direction: row;
    font-size: 30px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}
